body {
    display: grid;
    height: 100vh;
    grid-template: auto auto 1fr auto / auto 1fr; /* rows/columns*/
  }
  
  header {
    background: lightpink;
    padding: 2rem;
    grid-column: 1 / 4;
  }
  

  nav{
    background: turquoise;
    padding: 2rem;
    grid-column: 1/4;
  }
  
  main {
    background: coral;
    padding: 2rem;
    grid-column: 2 / 3;
  }
  
  .right-sidebar {
    background: yellow;
    padding: 2rem;
    grid-column: 3 / 4;
  }
  
  footer {
    background: wheat;
    padding: 2rem;
    text-align: center;
    grid-column: 1 / 4;
  }
  
 
  .right-sidebar {
    padding: 1rem;
  }


  /*   .left-sidebar {
    background: lightblue;
    grid-column: 1 / 2;
  } */

  /*   .left-sidebar,
  .right-sidebar {
    padding: 1rem;
  } */