/*
* {
	border: 2px solid blue
}
*/

body{
    /*Simple reset*/
    margin: 0;
    padding: 0;
}

header, main, footer {
	max-width: 980px;
	margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
}

header{
    /* display: flex; */
    align-items: start;
    justify-content:center;
    background-color: rgb(0, 79, 112);
    color: white;
}

header h1{
    padding: 2% 0%;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 28px;
}

header h3{
    padding-bottom: 2%;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.parent{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
}


.card{

    border: 1px  solid navy;
    border-radius: 15px;
    text-align: center;
    /*width: 400px;*/
    height: auto;

    /* pancake responsive */
    /*flex: 1 1 300px; /* stretching */
    /*flex: 0 1 150px;  /* not stretching */

    margin:5px;
    padding: 5px;
   
}

.title-card {
    display:flex;
    width: 100%;
    height: 55px;
    background-color: navy;
    color: white;
    font-weight: bold;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    align-items: center;
}

.title-card p{
    left: 0;
    right: 0;
    margin: 0 auto;
}

.organization{
    margin-bottom: 10px;
}

.screenshot img{
    width: 100%;
    height: 100%;
    border: solid 1px navy;
}


.description{
    text-align: justify;
}


footer{
    background-color: rgb(0, 79, 112);
    color: white;
    padding: 5px;
    margin-top: 10px;
}


#nameCity{
    text-align: center;
    padding: 8px;
    
}

#lastModified{
    text-align: center;
    font-weight: bold;
    color: orange;
    
    
}