
/* importamos fuentes */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Nunito:wght@300&family=Oswald&family=Roboto:wght@300&display=swap');


*{
    /* border: solid 0.5px indigo; */
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif; /* tipo deletra base del sitio */
    background-color: black;
}

main{
    width: 1024px;
    margin: 15px auto;
    text-align: left;
}

nav{
    /* padding: 5px; */
    display: flex;
    justify-content: space-around;
    background-color: #006599;
}

.navigation{
    list-style: none;
    margin: 0 auto;

}

.navigation li{
    display: inline-block;
    font: bold 18px;
    white-space: nowrap;
    }

.navigation a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
    font-weight: 700;
    transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);  
    }

.navigation a:hover, navigation a:active {
    color: #ff6817;
    background-color: #ffffff;
}




#logo_link{
    float: left;
    margin-left: 25px;
    justify-self: center;
    align-self: center;
}

.social-mobile img{
    width: 30px;
    height: 30px;
}

.social-mobile{
    float: inline-end;
    margin-right: 25px;
    align-self: center;
}

/* a call to action link */
    #hero{
        display: grid;
        grid-template-columns: 1fr 3fr 1fr ; /* = to repeat(5,1fr)*/
    }

    /* hero image en segundo plano */
    #hero-box{
        grid-column: 1/4;
        grid-row:1/3;
        z-index: -1;
    }
    /* message and button en primer plano  */
    #hero-msg{
        /* grid-column: 2/3; */
        grid-column: 1/4;
        grid-row: 1/1;
        background-color: #ffffff;
        opacity: 0.8;
        margin: 10%;
    }

    #hero-msg h1{
        color: #ff6817;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        font-size: 1.5em;
        margin: 15px;
        text-align: center;
    }
    
    #hero-msg h4{
        color: #ff6817;
        font-weight: bolder;
        font-size: 1em;
        margin: 18px;
        text-align: center;
    }
    
    /* button */
    .button-box{
        text-align: center;
        padding: 5px;
    }
    
    .join{
        background-color: #006599;
        color:#ffffff;
        text-decoration: none;
        font-size: 14px;
        font-weight: bolder;
        padding: 15px 30px;
        margin-top: 50px;
        border-radius: 5px;
    }
    
    .join:hover{
        background-color: #ff6817;
    }


/*Container*/

.containersection h1{
    border-bottom: 2px solid #ff6817;
    font-family: 'Nunito', sans-serif;
}

.containersection h2, h3{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: medium;
}

#ContainEW{
    display: grid;
    grid-template-columns: minmax(200px, 50%) 1fr;
    color:#ffffff;
}

.events{
    padding: 15px;
    margin-right: 5px;
    background-color:#006599;

}
.weather{
    padding: 15px;
    background-color:#006599;
}

.advertisements{
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    color:#ffffff;
}

/* .box{
    /* border: 1px  solid green; */
    /*text-align: center;
    height: 220px;
    flex: 1 1 100px; /*stretching*/
    /*flex: 0 1 150px; not stretching*/
    /*margin: 5px;
    padding: 15px;
    background-color:#006599;
} */

.box{
    
    text-align: center;
    height: 220px;
    flex: 1 1 100px; /*stretching*/
    /*flex: 0 1 150px; */ /* not stretching*/
    margin-top: 5px;
    padding: 15px;
    background-color:#006599;
}

#adv2{
    margin: 5px;
}

/*footer*/

footer{
    background-color:#006599;
    text-align: left;
    padding: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    
}

footer a:hover{
    filter: brightness(80%);
}

#information{
    font-size:small;
    text-align: left;
    color:#ffffff;
}

footer .social img {
    padding-top: 5px;
    width: 30px;
    height: auto;
}

