* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: Roboto, sans-serif;
}


.logo{
    width: 60px;
}

#logo_link{
    padding: 0.5rem;
    justify-self: center;
    align-self: center;
}
 
#hero-img{
    width: 100%;
}

#hero-msg{
    position: absolute;
    top: 20%;
    left: 20%;
    text-align: center;
}

#hero-msg h1{
    color:#FDFAFD;
    /* font-family:Merienda, Papyrus, "Monotype Corsiva"; */
    font-size: 4em;
    margin: 45px;
    text-align: center;
}

#hero-msg h4{
    text-align: center;
    color: #EB9627; 
    font-size: 2em;
    margin: 45px;
    text-align: center;
}

/* Mobile View ***************/
#menu {
	display: block;
	font-size: 2rem;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #FDFAFD;
	color: #000;
}

#menu::before {
	content: "≡";
}


nav {
	background-color: #424242;
    display: flex;
    justify-content: space-around;
}
.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 800px;
}

.navigation li {
	display: none;
    white-space: nowrap;
}
.navigation a {
	display: block;
	padding: 2rem;
	text-align: left;
	text-decoration: none;
	color: #BBBBBB;
	font-weight: 700;
	transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);
}

.navigation a:hover, navigation a:active {
	color: #FDFAFD;
	background-color: #006599;
}

.show li {
	display: block;
}

#menu.show::before {
	content: "X";
}

/* Media Query for wider than mobile viewports. Breakpoint should be based upon the design and content and use em units to be relative to the user's font size versus fixed with pixels.*/
@media only screen and (min-width: 40em) {
	.navigation {
		display: flex;
	}
	.navigation li {
		display: block; /* change state in small view */
		flex: 1 1 100%;
	}
	.navigation a {
		text-align: center;
	}
	#menu {
		display: none;
	}
}