
/* importamos fuentes */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Montserrat:wght@300&family=Nunito:wght@300&family=Oswald&family=Roboto:wght@300&display=swap');



*{
    /* border: solid 0.5px indigo; */
    margin: 0px;
    padding: 0px;
}

body{
    text-align: center;
    font-family: 'Montserrat', sans-serif; /* tipo deletra base del sitio */
    font-size: small;
    background-color: black;

}

main{
    /* max-width: 480px; */
    margin: auto;
    text-align: left;
}

#menu {
	display: block;
	font-size: 20px;
	font-weight:700;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #ff6817;
	color: #ffffff;
    position: absolute;
    left: 15px;
	top: 5px;
}

#menu::before {
	content: "≡";
}

#menu.show::before {
	content: "X";
    font-size: medium;
}


.navigation.show li {
	display: block;
}

nav{
    display: flex;
    justify-content: space-around;
    background-color: #006599;
}

.navigation{
    list-style: none;
    margin: 0 auto;
    /* max-width: 480px; */
}

.navigation li{ 
    display: none;

}

.navigation a {
	display: block;
	padding: 1rem;
	text-align: center;
	text-decoration: none;
	color: #ffffff;
    font-weight: 700;
    transition: 0.5s;
	font-size: clamp(1rem, 2vmin, 1.5rem);  
    }

.navigation a:hover, navigation a:active {
    color: #ff6817;
    background-color: #ffffff;
}

#logo_link{
    position: absolute;
    visibility: hidden;
}

.social-mobile{
    visibility: visible;
}

.social-mobile img{
    align-self:center;
    width: 30px;
    height: auto;
    border: 1px solid #ffffff;
    margin: 5px;
    padding: 5px;
}

.social-mobile a:hover{
    filter: brightness(80%);
}

/* a call to action link */
    #hero{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
    }

    /* hero image en segundo plano */
    #hero-box{
        grid-column: 1/1;
        grid-row:1/3;
        z-index: -1;
    }

    #hero-box img{
        max-width: 480px;
        height: auto;
        grid-column: 1/1;
    }


    /* message and button en primer plano  */
    #hero-msg{
        /* grid-column: 2/3; */
        grid-column: 1/1;
        grid-row: 1/1;
        background-color: #ffffff ;
        opacity: 0.9;
        margin-top: 8%;
    }

    #hero-msg h1{
        color: #ff6817 ;
        font-family: 'Nunito', sans-serif;
        font-weight: bolder;
        font-size: small;
        /* margin: auto; */
        text-align: center;
    }
    
    #hero-msg h4{
        color: #ff6817;
        font-weight: bolder;
        font-size: small;
        /* margin: auto; */
        text-align: center;
    }
    
    /* button */
    .button-box{
        text-align: center;
        padding: 5px;
        margin-top: 20px;
    }
    
    .join{
        background-color: #006599;
        color:#ffffff;
        text-decoration: none;
        font-size: 14px;
        font-weight: bolder;
        padding: 15px 30px;
        border-radius: 5px;
    }
    
    .join:hover{
        background-color: #ff6817;
    }


/*Container*/

.containersection h1{
    border-bottom: 2px solid #ff6817;
    font-family: 'Nunito', sans-serif;
    font-size: medium;
}

.containersection h2, h3{
    color: #ffffff;
    font-family: 'Nunito', sans-serif;
    font-size: medium;
}

#ContainEW{
    display: grid;
    grid-template-columns: minmax(80px, 50%) 1fr;
    color:#ffffff;
}

.events{
    padding: 15px;
    margin-right: 5px;
    background-color:#006599;

}
.weather{
    padding: 15px;
    background-color:#006599;
}

.advertisements{

    justify-content:center;
    color:#ffffff;
}

/* .box{
    /* border: 1px  solid green; */
    /*text-align: center;
    height: 220px;
    flex: 1 1 100px; /*stretching*/
    /*flex: 0 1 150px; not stretching*/
    /*margin: 5px;
    padding: 15px;
    background-color:#006599;
} */

.box{
   /* flex: 1 1 150px; /*stretching*/
    /*flex: 0 1 150px;*/ /* not stretching*/
    text-align: center;
    height: 350px;
    margin-top: 5px;
    padding: 15px;
    background-color:#006599;
}

.advmobile{
    width: 220px;
    height: auto;
    margin: 25px;
    border: solid 2px #ffffff;
    
}


/*footer*/

footer{
    background-color:#006599;
    text-align: left;
    padding: 20px;
    margin-top: 5px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    
}

footer a:hover{
    filter: brightness(80%);
}

#information{
    font-size:small;
    text-align: center;
    color:#ffffff;
}

footer .social{
    visibility: hidden;
}

footer .social img {
    padding-top: 5px;
    width: 30px;
    height: auto;
}
