/*
* {
	border: 2px solid blue
}
*/

body{
    /*Simple reset*/
    margin: 0;
    padding: 0;
}



main{
    display:block;
}

#maintitle{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
}

.hero{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    position: relative;

}

.hero picture{
    width: 100%;
}

.hero img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.herolabel {
	position: absolute;
	top: 20px;
	left: 20px;
	background: radial-gradient(#006599, #424242);
	border: 1px solid rgba(0,0,0,.75);
	padding: 1.5rem;
	box-shadow: 0 0 3rem #fff;
	opacity: 0.95;
    color:#ffffff;

}

.herolabel p {
	margin: 0;
	padding: .15rem;
	font-weight: 700;
	font-size: 1rem;
}

 #learning{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
 }

 #project{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 3;
 }

 #information{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 4;
 }

.card{
    border-radius: 15px;
    padding: 8px;
    margin: 12px;
    box-shadow: 8px 8px 6px 6px rgb(135, 138, 141);
    background-color: rgb(0, 79, 112);
}



/* nav.flex-container{
    display: flex;
    flex-flow: wrap;
    background-color: black;
    padding: 10px;
    /*justify-content: flex-end;
    flex-direction: row-reverse;
    margin: 0 auto;
    font-size: large;
} */

/*Sustituido por el menu hamburger*/

nav{

    background-color: black;
    text-align: center;
    font-size: 1.5rem; 
}

nav ul{
    list-style-type: none;
    padding: 0px 2px; 
}


nav a{
    display: block;
    color:white;
    padding: 10px;
    text-decoration: none;
}

nav a:hover{
    border: 1px solid  dodgerblue; 
    color:  dodgerblue; 
    background-color: white;
}


/***/
#menu {
	display: block;
	font-size: 2rem;
	text-decoration: none;
	padding: .5rem .75rem;
	background-color: #eee;
	color: #000;
}

#menu::before {
	content: "≡";
}

.navigation {
	list-style: none;
	margin: 0 auto;
	max-width: 760px;
}

.navigation li {
	display: none;
}

.navigation a {
	display: block;
	padding: 0.75rem;
	text-decoration: none;   
}

#menu.show::before {
	content: "X";
}











/* #logo_link{
    color: white;
    padding: 10px;
} */

/* .linkNav{
    color:white;
    padding: 10px;
} */

/* #me-png{
    
    height: 150px;
    float: right;
    margin-right: 25px;
} */

#flagMX{
    width: 60px;
    height: 30px;
}



h3{
    text-align: center;
    color: white;
}

main h2{
    text-align: center;
}   


header{
    display: flex;
    align-items: start;
    justify-content:center;
    background-color: rgb(0, 79, 112);
    color: white;

}

header h1{
    padding: 4% 0%;
    text-align: center;
}

ul{
    list-style-type: none;
    
}

#nameCity{
    text-align: center;
    padding: 8px;
    
}

#lastModified{
    text-align: center;
    
}

.sections{
    background-color: white; 
    border-radius:0px 0px 15px 15px; 
    padding: 15px;
    height: auto;
}

.sections li{
    font-size: large;
    line-height: 1.8;
}

iframe{
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 5;
    width: 100%;
    object-fit: cover;
}

footer{
    background-color: rgb(0, 79, 112);
    color: white;
    padding: 5px;
}
