@media only screen and (min-width: 800px){
   
    nav{
        border: 1px solid black;
    }
        
   nav ul{
        display: flex;
        /* justify-content: space-around; */

    }
    
    
    nav ul li{
        flex: 1 1 100%;
    } 
    
    /**/
    #menu {
        display: none;
    }

    .navigation li {
        display: block;
    }


    main{
        width: 760px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    main h2{
        text-align: left;
    }
}