@media (min-width: 800px){
    nav ul{
        display: flex;
        /* justify-content: space-around; */

    }

    nav ul li{
        flex: 1 1 100%;
    }


    main{
        width: 760px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    main h2{
        text-align: left;
    }


  
}