/*
* {
	border: 2px solid blue
}
*/

main{
    width: 760px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

#maintitle{
    grid-column-start: 1;
    grid-column-end: 3;
}

 #learning{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
 }

 #project{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
 }

 #information{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 5;
 }

.card{
    border-radius: 15px;
    padding: 8px;
    margin: 12px;
    box-shadow: 8px 8px 6px 6px rgb(135, 138, 141);
    background-color: rgb(0, 79, 112);
}

nav.flex-container{
    display: flex;
    flex-flow: wrap;
    background-color: black;
    padding: 10px;
    /*justify-content: flex-end;*/
    flex-direction: row-reverse;
    margin: 0 auto;
    font-size: large;
}

#logo_link{
    color: white;
    padding: 10px;
}

.linkNav{
    color:white;
    padding: 10px;
}

#me-png{
    
    height: 150px;
    float: left;
    margin-left: 25px;
}

#flagMX{
    width: 60px;
    height: 30px;
}

h1{

    display: block;
    margin: auto;
    
}

h3{
    text-align: center;
    color: white;
}



header{
    display: flex;
    align-items: center;
    background-color: rgb(0, 79, 112);
    color: white;
}

ul{
    list-style: none;
}

#nameCity{
    text-align: center;
    padding: 8px;
    
}

#lastModified{
    text-align: center;
    
}

.sections{
    background-color: white; 
    border-radius:0px 0px 15px 15px; 
    padding: 15px;
    height: auto;
}

li{
    font-size: large;
    line-height: 1.8;
}

footer{
    background-color: rgb(0, 79, 112);
    color: white;
}

